<div class="row" style="margin-top: 20px;">
    <div class="col-sm-3">
        <p class="bg-primary fs-1 text-center" style="color: white">Categorias</p>

        <div *ngIf="getIsLogged()">
            <button (click)="cadastrar()" class="btn btn-primary mb-2">Cadastrar</button>
        </div>
        
        <div *ngIf="getIsLogged()" class="mt-2 mb-2">
            <input type="text" [(ngModel)]="nomeCategoria">
        </div>
        
        <ul class="list-group">
            <li (click)="setSelecao(categoria)" *ngFor="let categoria of categorias" style="cursor: pointer;"
             [ngClass]="{'list-group-item active': categoriaSelecionada?.nome == categoria.nome,
                        'list-group-item': true}">
             {{categoria.nome}}
             <div *ngIf="getIsLogged()">
                <button (click)="atualizar()" style="margin-right: 10px;" class="btn btn-info mt-2">Atualizar</button>
                <button (click)="excluir()" class="btn btn-danger mt-2">Excluir</button>
             </div>
             
            </li>
                
        </ul>
    </div>
    <div *ngIf="categoriaSelecionada && !getIsLogged()" class="col-sm-9">
        <p class="bg-primary fs-1 text-center" style="color: white">Produtos</p>
        <app-produtos-cliente [categoria]="categoriaSelecionada"></app-produtos-cliente>
    </div>
    <div *ngIf="categoriaSelecionada && getIsLogged()" class="col-sm-9">
        <p class="bg-primary fs-1 text-center" style="color: white">Produtos</p>
        <app-produtos-admin [categoria]="categoriaSelecionada"></app-produtos-admin>
    </div>
</div>